<p>spectacles works!</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; width: fit-content;">
    <label for="date">Date</label>
    <input type="date" id="date" formControlName="date">

    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">

    <label for="duration">Duration</label>
    <input type="text" id="duration" formControlName="duration">

    <label for="description">Description</label>
    <input type="text" id="description" formControlName="description">

    <label for="status">Status</label>
    <input type="text" id="status" formControlName="status">

    <label for="type">Type</label>
    <input type="text" id="type" formControlName="type">

    <label for="capacity">Capacity</label>
    <input type="number" id="capacity" formControlName="capacity">

    <label for="hour">Hour</label>
    <input type="text" id="hour" formControlName="hour">
    
    <button type="submit" [disabled]="form.invalid">
        Submit
    </button>
</form>

<h1>Spectacles</h1>

@if (spectacles) {
    <div style="display: flex; flex-wrap: wrap;">
        @for (spectacle of spectacles; track $index) {
            <div style="border: 2px solid #252525; padding: 1rem; margin: 1rem; width: 10rem;">
                <h2>{{ spectacle.name }}</h2>
                <p>Date: {{ spectacle.date }}</p>
                <p>{{ spectacle.duration }}</p>
                <button [routerLink]="['/edit-spectacle', spectacle.id]">Edit</button>
                <button (click)="deleteSpectacle(spectacle.id)">Supprimer</button>
            </div>
        }
    </div>
}